@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #000009, #B9C6D5);
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    width: 95%;
    height: 80%;
    border: 1px solid #fdfdfd;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}
header .menu--panel,.song--panel{
    position: relative;
    width: 25%;
    height: 90%;
    border-radius: 10px;
    background-color: #254466;
    
    box-shadow: 2px 1px 15px #000009;
}
header .song--panel{
    width: 75%;
    background-color: #619CDB;
    opacity: 0.3;
}
header .Play--music{
    width: 100%;
    height: 10%;
    background-color: #254466;
    opacity: 0.5;
    border-radius: 5px;
    box-shadow: 2px 0 15px #000009;
}
header .menu--panel h1{
    font-size: 20px;
    color: #fdfdfd;
    margin: 15px 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
header .menu--panel .Playlist{
    margin: 35px 0 0 20px;
}
header .menu--panel .Playlist h3{
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: 400;
    padding: 3px 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #9DB8E4;
    transition: color .3s linear;
    text-transform: capitalize;
}
header .menu--panel .Playlist h3:hover{
    color: #fdfdfd;
}
header .menu--panel .Playlist h3 span{
    position: relative;
    margin-right: 30px;
}
header .menu--panel .Playlist h3 span::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    border: 2px solid #fdfdfd;
    border-radius: 50%;
    top: -3px;
    transition: .3s linear;
}
header .menu--panel .Playlist h3:hover span::before{
    border: 2px solid #ea3;
}
header .menu--panel .Playlist h3 .bi{
    display: none;
}
header .menu--panel .Playlist .Activo--boostrap{
    color: #9383EC;
}
header .menu--panel .Playlist .Activo--boostrap span{
    display: none;
}
header .menu--panel .Playlist .Activo--boostrap .bi{
    display: flex;
    margin-right: 30px;
}