@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #000009, #B9C6D5);
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    width: 95%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    color: #fff;

}
header .menu--panel,.song--panel{
    position: relative;
    width: 25%;
    height: 90%;
    border-radius: 10px;
    background-color: #254466;
    
    box-shadow: 2px 1px 15px #000009;
}
header .song--panel{
    width: 75%;
    background-color:  #070B66 ;
}
header .Play--music{
    width: 100%;
    height: 10%;
    margin-top: 2px;
    background-color: #2C5880 ;
    border-radius: 5px;
    box-shadow: 2px 3px 15px #000009;
}
header .menu--panel h1{
    font-size: 20px;
    color: #fdfdfd;
    margin: 15px 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
}
header .menu--panel .Playlist{
    margin: 35px 0 0 20px;
}
header .menu--panel .Playlist h3{
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: 400;
    padding: 5px 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #9DB8E4;
    transition: color .3s linear;
    text-transform: capitalize;
}
header .menu--panel .Playlist h3:hover{
    color: #fdfdfd;
}
header .menu--panel .Playlist h3 span{
    position: relative;
    margin-right: 30px;
}
header .menu--panel .Playlist h3 span::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    border: 2px solid #fdfdfd;
    border-radius: 50%;
    top: -3px;
    transition: .3s linear;
}
header .menu--panel .Playlist h3:hover span::before{
    border: 2px solid #ea3;
}
header .menu--panel .Playlist h3 .bi{
    display: none;
}
header .menu--panel .Playlist .Activo--boostrap{
    color: #9383EC;
}
header .menu--panel .Playlist .Activo--boostrap span{
    display: none;
}
header .menu--panel .Playlist .Activo--boostrap .bi{
    display: flex;
    margin-right: 30px;
}
header .menu--panel .menu--songs{
    width: 100%;
    height: 275px;
    /**/
    margin-top: 25px;
    border-radius: 10px;
}
header .menu--panel .menu--songs li{
    padding: 5px 0 5px 20px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
    transition: .3s linear;
}
header .menu--panel .menu--songs li:hover{
    background-color: #406486 ;
}
header .menu--panel .menu--songs li span{
    font-size: 10px;
    font-weight: 400;
    color: #888;
}
header .menu--panel .menu--songs li img{
    width: 32px;
    height: 32px;
    margin: 0;
    margin-left: 15px;
}
header .menu--panel .menu--songs li h5{
    font-size: 11px;
    margin-left: 30px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
}
header .menu--panel .menu--songs li h5 .subTitle{
    font-size: 9px;
    padding: 2px;
    color: #777;
}
header .menu--panel .menu--songs li .bi{
    font-size: 20px;
    color: #fdfdfd;
    position: absolute;
    left: 220px;
    top: 8px
}
header .Play--music{
    display: flex;
    padding: 3px 25px;
    align-items: center;
}
header .Play--music .Waves{
    width: 35px;
    height: 35px;
    margin-left: 5px;
    padding: 0 0 5px 0;
    display: flex;
    align-items: flex-end;
    animation: unset;
}
header .Play--music .Waves .Wave1{
    width: 7px;
    height: 18px;
    /*border: 1px solid #fff*/;
    background-color: #ea3;
    border-radius: 10px 10px 0 0;
    margin: 0 3px 2px 3px;
    padding: 1px;
    animation: wave .4s linear infinite 0.1s;
    animation: unset;
}
header .Play--music .Waves .Wave1:nth-child(2){
    height: 16px;
    animation-delay: .6s;
}
header .Play--music .Waves .Wave1:nth-child(3){
    height: 1px;
    animation-delay: .8s;
}
@keyframes wave{
    0%{
        height: 5px;
    }
    50%{
        height: 10px;
    }
    100%{
        height: 20px;
    }
}
header .Play--music img{
    width: 35px;
    height: 35px;
    margin: 0;
    margin-left: 35px;
}
header .Play--music h5{
    font-size: 15px;
    margin-left: 45px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
}
header .Play--music h5 .subtitle{
    font-size: 10px;
    color: #ccc;
    padding: 1.5px;
    font-weight: 600;
}
header .Play--music .icon--play{
    margin-left: 25px;
    padding: 0;
}
header .Play--music .icon--play .bi{
    margin-left: 8px;
    padding: 2px;
    font-size: 21px;
    color: #00000f;
    cursor: pointer;
    transition: .4s linear;
}
header .Play--music span{
    margin-left: 25px;
    font-weight: 300;
    width: 32px;
    align-self: center;
}
header .Play--music #StartItems{
    margin: 0px 15px;
}
header .Play--music .Bar__music{
    display: flex;
    align-items: center;
    width: 45%;
    height: 3px;
    background-color: #254466;
    position: relative;
    margin: 0 2px 3px 2px;
}

header .Play--music .Bar__music .bar__music2{
    position: absolute;
    width: 20%;
    height: 100%;
}
header .Play--music .Bar__music .dotted{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #619CDB;
    border-radius: 50%;
    transition: .1s linear;
}
header .Play--music .Bar__music .dotted::before{
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid #9383EC;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: -1px;
    box-shadow: 0 0 10px #777;
}
header .Play--music .Bar__music input{
    width: 400px;
    cursor: pointer;
    position: absolute;
    z-index: 99999;
    transition: .1s linear;
    opacity: 0;
}
header .Play--music .vol__music{
    position: relative;
    width: 160px;
    height: 2px;
    background-color: #254466;
    margin-left: 50px;
}
header .Play--music .vol__music .bi{
    position: absolute;
    font-size: 20px;
    top: -10px;
    left: 0;
}
header .Play--music .vol__music input{
    width: 160px;
    cursor: pointer;
    position: absolute;
    z-index: 99999;
    top: -7px;
    left: 20px;
    transition: .1s linear;
    opacity: 0;
    
    
}
header .Play--music .vol__music .bar__vol2{
    position: absolute;
    width: 20%;
    height: 100%;
}
header .Play--music .vol__music .dotted__music{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #619CDB;
    border-radius: 50%;
    transition: .1s linear;
    left: 20px;
    top: -6px;
}
header .Play--music .vol__music .dotted__music::before{
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid #9383EC;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: -1px;
    box-shadow: 0 0 10px #777;
}
header .song--panel {
    z-index: 2;
    
}
header .song--panel::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 230px;
    filter: opacity(0.3);
    filter: brightness(1,1);
    mix-blend-mode: screen;
    background: url("../imagen/deiVfoto");
    background-position: right;
    background-repeat: no-repeat;
    top: 30px;
    left: -135px;
}
header .song--panel nav{
    width: 95%;
    height: 12%;
    margin: auto;
    position: relative;
    margin-top: 8px;
    display: flex;
    justify-content: left;
    align-items: center;
}
header .song--panel nav ul{
    display: flex;
    list-style: none;
    align-items: start;
    margin: 5px 25px;
}
header .song--panel nav ul li{
    margin: 25px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    transition: .1s linear;
}
header .song--panel nav ul li:hover{
    color: #ea3;
    border-bottom: 2px solid #987;
}

header .song--panel nav .search{
    position: relative;
    width: 40%;
    border-radius: 20px;
    top: -2px;
}
header .song--panel nav .search::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #111;
    backdrop-filter: blur(5px);
    z-index: -1;
}
header .song--panel nav .search .bi{
    font-size: 14px;
    padding: 5px 5px 5px 5px;
}
header .song--panel nav .search input{
    background: none;
    outline: none;
    border: none;
    padding: 5px 12px;
    color: #fff;
    font-size: 13px;
}
header .song--panel nav .search input::placeholder{
    color: #fff;
    text-transform: capitalize;
}
header .song--panel nav .User--page{
    margin: auto;
    margin-top: 7px;
    margin-left: 80px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}
header .song--panel nav .User--page img{
    width: 35px;
    height: 35px;
    filter: brightness(1,1);
    filter: drop-shadow(0 0 20px #fff);
    border-radius: 40px;
}
header .song--panel .content__page{
    width: 55%;
    height: 25%;
    font-size: 15px;
    margin: 10px;
    margin-bottom: 0;
    padding-left: 5px;
    
}
header .song--panel .content__page h1{
    font-size: 1.4em;
    letter-spacing: 1.5px;
    color: #ea3;
    text-shadow: 0 0 4px #000;
    font-weight: 400;
}
header .song--panel .content__page p{
    font-size: 0.7em;
    margin-top: 5px;
    color: #aaa;
    font-weight: 600;
    text-align: justify;
    text-wrap: pretty;
    letter-spacing: 0.5px;
}
header .song--panel .Buttons--sing{
    position: relative;
    width: 55%;
    height: 30px;
    margin: 10px;
    margin-top: 0;
    display: flex;
    justify-content: left;
    top: -30px
}
header .song--panel .Buttons--sing button{
    padding: 0px 20px;
    margin: 0;
    margin-left: 65px;
    border-radius: 20px;
    color: #ea3;
    letter-spacing: 1px;
    background: transparent;
    font-weight: 600;
    transition: .1s linear;
    cursor: pointer;
    outline: none;
}
header .song--panel .Buttons--sing button:nth-child(1){
    color: #ea3;
    width: 150px;
    height: 30px;
}
header .song--panel .Buttons--sing button:nth-child(2){
    color: #fff;
    width: 150px;
    height: 30px;
}
header .song--panel .Buttons--sing button:nth-child(1):hover{
    color: #000;
    background: linear-gradient(to left, #ffdd00, #aaa);
    box-shadow: 2px 2px 15px #000;
}
header .song--panel .Buttons--sing button:nth-child(2):hover{
    color: #9DB8E4;
    background: linear-gradient(to left, #aaa, #000);
    box-shadow: 2px 2px 15px #000;
}
header .song--panel .Popular__songs{
    width: 95%;
    height: auto;
    margin: 5px 20px;
}
header .song--panel .Popular__songs .Title__h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
}
header .song--panel .Popular__songs .Title__h4 h4{
    color: #ea3;
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
}
header .song--panel .Popular__songs .Title__h4 .Btn__icon{
    margin: 5px;
}
header .song--panel .Popular__songs .Title__h4 .Btn__icon .bi{
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: .3s linear;
}
header .song--panel .Popular__songs .Title__h4 .Btn__icon .bi:hover{
    color: #ea3;
}
header .song--panel .Popular__songs .Music{
    width: 100%;
    height: 135px;
    display: flex;
    gap: 12px;
    overflow-x: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
}
header .song--panel .Popular__songs .Music::-webkit-scrollbar{
    display: flex;
}
header .song--panel .Popular__songs .Music li{
    min-width: 95px;
    height: 95px;
    list-style: none;
    margin-left: 5px;
    position: relative;
    top: -12px;
    transition: .3s linear;
}
header .song--panel .Popular__songs .Music li:hover{
    background: #128;
}
header .song--panel .Popular__songs .Music li .Imagen__play{
    position: relative;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header .song--panel .Popular__songs .Music li .Imagen__play img{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .song--panel .Popular__songs .Music li  h5{
    text-wrap: nowrap;
    text-align: left;
}
header .song--panel .Popular__songs .Music li .Imagen__play .bi{
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    color: #bbb;
    transition: .3s linear;
    opacity: 0.2;
}
header .song--panel .Popular__songs .Music li .Imagen__play:hover .bi{
    opacity: 1;
}
header .song--panel .Popular__songs .Music h5{
    text-align: center;
    padding: 1px;
    line-height: 15px;
    font-size: 12px;
    color: #aaa;
    font-weight: 700;
    letter-spacing: 1px;
}
header .song--panel .Popular__songs .Music h5 .subtitle{
    font-size: 10px;
}
header .song--panel .Popular__songs .Sing__popular{
    position: relative;
    margin:2px 0px;
    top: -30px;
    font-size: 12px;
}
header .song--panel .Popular__songs .Artists{
    width: 100%;
    height: 55px;
    display: flex;
    padding: 5px;
    justify-content: left;
    position: relative;
    top: -35px;
    
}
header .song--panel .Popular__songs .Artists::-webkit-scrollbar{
    display: flex;
}
header .song--panel .Popular__songs .Artists img{
    border: 1px solid #000;
    width: 90px;
    height: 100%;
    border-radius: 50%;
    margin-left: 15px;
    outline: none;
    cursor: pointer;
    transition: .3s linear;
}
header .song--panel .Popular__songs .Artists img:hover{
    box-shadow: 2px 2px 10px #111;
}


